@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body,
html{
  font-family: 'Montserrat', sans-serif;
  /* background-color: darkblue;*/
  background: #ffff;
  margin: 0;
} 

/*Css del header*/

.header{
width: 100%;
background: #f6f9fc;
border-bottom: solid;
border-bottom-width: 2px;
border-color: #000000;
}

.principal-section {
text-align: center;
 margin: 2% auto 0;
 border-radius: 20px;
 width: 60%;
 padding: 29px;
 background: #f6f9fc;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 text-transform: uppercase;
 color: #736c6c;
}

.principal-container {
 display: flex;
 justify-content: space-between;
 gap: 30px;
}

.image-side {
 background-image: url(/src/img/logo-side.webp);
 height: 400px;
 width: 50%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 border-radius: 50px;
}

.form-side{
    width: 50%;
    margin-top: 2%;
}